:root {
  --first-black-color: #212121;
  --secondary-black-color: #757575;
  --white-color: #ffffff;
  --blue-secondary-color: #2196f3;
  --buttom-background: #f5f4fa;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --first-font-family: "Roboto";
}
